[Unit]
Description=drawduel
After=network.target

[Service]
Environment=NODE_ENV=production
Type=simple
User=root
WorkingDirectory=/root/drawduel
ExecStart=/root/drawduel/production/start.sh
Restart=on-failure
RestartSec=30
KillMode=process

[Install]
WantedBy=multi-user.target
