/*
	put global css stuff to be shared
	between index and game entry points
	here
*/

:root {
	font-family: Schoolbell, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;

	color: #101010;
	background-color: #fffad4;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.5em 0;
}

.button,
button {
	color: inherit;
	border-radius: 8px;
	padding: 10px 48px;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #87e0ff;
	cursor: pointer;
	transition: background-color 0.25s;
	box-shadow: -6px 6px #2689ac;
	border: none;
	text-decoration: none;
	height: fit-content;
	width: fit-content;
}
.button:active:not(:disabled),
button:active:not(:disabled) {
	box-shadow: -3px 3px #2689ac;
	transform: translate(-3px, 3px);
}
.button:focus-visible,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.button--purple {
	background-color: #fac7ff;
	box-shadow: -6px 6px #ad55b6;
}
.button:active.button--purple:not(:disabled),
button:active.button--purple:not(:disabled) {
	box-shadow: -3px 3px #ad55b6;
}

button:disabled,
.button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

input {
	background-color: transparent;
	border: 0;
	font-size: 20px;
	padding: 4px;
	text-align: center;
	outline: 0;
	font-family: inherit;
}

table {
	border-collapse: separate;
	border-spacing: 8px;
}

th,
td {
	padding: 8px 12px;
	text-align: left;
}

th {
	font-size: 20px;
}
